@model IEnumerable<ELBF20250319.AppWebMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Crear Nueva Categoria.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Eliminar.</a>
            </td>
        </tr>
}
    </tbody>
</table>
